body {
  background: linear-gradient(to top, #FFD801, #2ECC71, #1ABC9C);
  margin: 0; 
  padding: 0; 
}

#root {
  padding: 2rem;
}

.container {
  border-radius: 5px;
  width: 100%;
  background: linear-gradient(to top, #FF512F, #F09819);
}

#center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form .form-field {
  position:relative;
  margin: 32px 0;
}

.contact-form .input-text {
  display:block;
  width: 100%;
  border-width: 0 0 2px 0;
  border-color: #5543ca;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

.contact-form .input-text:focus {
  outline: none;
}

.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
  -webkit-transform: translateY(-24px);
  transform: translateY(-24px);
}

.contact-form .label {
  position: absolute;
  left: 22px;
  bottom: 25px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #5543ca;
  cursor: text;
  transition:ease-in-out;
}

.contact-form .submit-btn {
  display: inline-block;
  background-color: #000;
  background-image: linear-gradient(125deg, #a72879, #064497);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  border: none;
  width: 200px;
  cursor: pointer;
}


.auth-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.auth-container h2 {
  margin-bottom: 20px;
}

.auth-container .form-control {
  margin-bottom: 10px;
}

