table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
h1,h2,h3{
    text-align: center;
}
#Mark{
    width: 82px;
    
    
}

#Search{
    border-width: 3px;
    border-color: aquamarine;
    border-style: groove;
    text-align: center;
}

select{
    text-align: center;
    box-sizing: border-box;
    size: 200px;
}

.pagination {
    list-style: none;
    height: 31.5px;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    margin-top: 2px;
    cursor: pointer;
    text-align: center;
  }
  #label{
    width: 100%;
    padding-left: 25%;
    text-align: left;
    
  }
  .mark{
    text-align: left;
    padding-left: 25%;
  }
  #myDialog{
    text-align: end;
    
  }