table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

#Mark{
    width: 82px;
    
}

#Search{
    border-width: 3px;
    border-color: aquamarine;
    border-style: groove;
}

select{
    box-sizing: border-box;
    size: 200px;
}

.pagination {
    list-style: none;
    height: 31.5px;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    margin-top: 2px;
    cursor: pointer;
  }